<!DOCTYPE html>
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,
             initial-scale=1.0">
        <title>Movie</title>
     
        
    </head>

    <body>
        <header class="header">
             <h1 class="header__title">Movie</h1>

             {% block navigation %}
             {% endblock %}
        </header>
        <div class="container">
             {% block content %}
             {% endblock %}
        </div>
        <footer class="footer">
            <p class="footer__text"><small>&copy; {% now "Y" %}
                 <em class="footer__app-name">Movie App<em><small></p>
       </footer>
 </body>
</html>